<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specific Book</title>
</head>
<body>
    <h1>Welcome, {{request.session.user_name}}</h1>
    <a href="/main">Back</a>
</br>
</br>
    {{one_book.title}}
    <p>Added by: <a href="/user/{{one_book.person.id}}">{{one_book.person.first_name}} {{one_book.person.last_name}}</a></p>
    <p>Added on: {{one_book.created_at}}</p>
    <p>Last Updated at: {{one_book.updated_at}}</p>
    {% if one_book.person.id != request.session.user_id %}
    <p>Description: {{one_book.desc}}</p>
    {% endif %}
    {% if one_book.person.id == request.session.user_id %}
    <form action="/edit_book/{{one_book.id}}" method="post">
        {% csrf_token %}
        <textarea name="desc" placeholder="{{one_book.desc}}" cols="30" rows="10"></textarea>
        <input type="submit" value="Edit">
    <a href="/delete_book/{{one_book.id}}">Delete</a>
    </form>
    {% endif %}

    <h3>Users Who Favorited the Book</h3>
                <ul>
                    {% for fav in one_book.favorited_by.all %}
                    <li>{{fav.first_name}} {{fav.last_name}}</li>
                    {% endfor %}
                </ul>
                {% if current_user in one_book.favorited_by.all %}
                <a href="/unfavorite/{{one_book.id}}" role="button">Remove From Favorites</a>
                {% else %}
                <a href="/favorite/{{one_book.id}}" role="button">Add to Favorites</a>
                {% endif %}

</body>
</html>